div {
    background-color: white;
    color: black;
    width: 180px;
    margin-right: 5px;
    height: 275px;
}

img {
    width: 80%;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
}

h1 {
    margin-top: -10px;
    font-size: 23px;
    margin-left: 15px;
}

span {
    font-size: 20px;
    color: #fa7921;
    margin-left: 15px;
}