:host {
    background-color: #5BC0EB;
    size: 200px 200px;
    display: block;
}

img {
    width: 100px;
    height: 100px;
}

.example-card {
    max-width: relative;
    max-height: 200px;
    background-color: blue;
  }

  .main-div{
    height: 100vh;
    display: flex;
   
    align-items: center;
  }


  