:host {
    background-color: #5BC0EB;
    size: 200px 200px;
    display: block;
}

.title {
  text-align: center;
  margin-top: -30px;
  color: white;
}

img {
    width: 100px;
    height: 100px;
}

.product {
  padding: 20px;
  display: flex;
  background-color: white;
}

.product > h1 {
  display: inline;
}
.example-card {
    max-width: relative;
    max-height: 200px;
    background-color: blue;
  }

  .main-div{
    height: 100vh;
    display: flex;
   
    align-items: center;
  }

  .align-left {
    float: left;
  }
  .align-right {
    float: right;
  }

  .pay-button {
    background-color: #9bc53d;
    text-align: center;
    border-radius: 30px;
    padding: 15px;
    font-size: 20px;
}


  