
body {
    height: 100%;

}
div {
    background-color: #5bc0eb;
    min-height: 730px;
    height: auto !important;
    padding: -10px;
    
 
}

app-search-icon {
    position: absolute;
    left: -5px;
    top: 15px;
}

app-shopping-cart-icon {
    position: absolute;
    left: 400px;
    top: 15px;
}

.first {
    position: absolute;
    top: 28%;
    right: 52%;
}

.second {
    position: absolute;
    top: 55%;
    right: 15%;
}

.third {
    position: absolute;
    top: 57%;
    right: 35%;
}

.fourth {
    position: absolute;
    top: 30%;
    right: 45%;
}

.fifth {
    position: absolute;
    top: 59%;
    right: 26%;
}

.sixth {
    position: absolute;
    top: 15%;
    right: 50%;
}