
body {
    height: 100%;

}
div {
    background-color: #5bc0eb;
    min-height: 720px;
    height: auto !important;
    padding: -10px;
    
 
}

.first {
    position: absolute;
    top: 60%;
    right: 20%;
}