<div>


<app-map></app-map>



<app-search-icon
[routerLink]="['/image']"></app-search-icon>
<app-shopping-cart-icon
[routerLink]="['/cart']"></app-shopping-cart-icon>
<app-location-marker
class="first"
[routerLink]="['/artisan', '1']"
></app-location-marker>

<app-location-marker
class="second"
[routerLink]="['/artisan', '4']"
></app-location-marker>

<app-location-marker
class="third"
[routerLink]="['/artisan', '5']"
></app-location-marker>

<app-location-marker
class="fourth"
[routerLink]="['/artisan', '6']"
></app-location-marker>

<app-location-marker
class="fifth"
[routerLink]="['/artisan', '7']"
></app-location-marker>

<app-location-marker
class="sixth"
[routerLink]="['/artisan', '2']"
></app-location-marker>

</div>