.container {
   margin: -8px;
    min-height: 750px;
    height: auto !important;
    background-color: #e55934;
    color: white;
    line-height: 1.5;
}

app-back-button {
    margin: 20px;
}

.hook {
    text-align: center;
    font-size: 26px;
}

.subtitle {
    text-align: center;
}

.inputs {
    text-align: center;
    
}

.spinner {
    margin-left: 38%;
    width: 25%;
    height: 25%;
    margin-top: 10%;
}

.product {
    margin-left: 25px;
    margin-top: 20px;
}